**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfplan
terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfvars
*.hcl
*.tfstate
*.tfstate.*